@{
    ViewBag.Title = "Donation";
}
    <div class="container">
        <h2>@ViewBag.Title.</h2>
        <h3>@ViewBag.Message</h3>

        <p>Use this area to provide additional information.</p>
        <form name="_xclick" action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">
            <input type="hidden" name="cmd" value="_xclick">
            <input type="hidden" name="business" value="sb-gboj43907912@business.example.com">
            <input type="hidden" name="currency_code" value="USD">
            <input type="hidden" name="item_name" value="OrderID">
            <input type="hidden" name="amount" value="16.99">
            <input type="image" src="http://www.paypalobjects.com/en_US/i/btn/btn_buynow_LG.gif" border="0" name="submit" alt="Make payments with PayPal - it's fast, free and secure!">
        </form>
    </div>