@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<div class="page-header">
    <h3 class="page-title">
        <span class="page-title-icon bg-gradient-primary text-white mr-2">
            <i class="mdi mdi-home"></i>
        </span> Dashboard
    </h3>
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">
                <span></span>Overview <i class="mdi mdi-alert-circle-outline icon-sm text-primary align-middle"></i>
            </li>
        </ul>
    </nav>
</div>





<div class="row">
    <div class="col-md-6 col-xl-4 stretch-card grid-margin">
        <div class="card bg-gradient-danger card-img-holder text-white">
            <div class="card-body">
                <img src="https://res.cloudinary.com/senbonzakura/image/upload/v1573316035/images/dashboard/circle_vjz1ny.svg" class="card-img-absolute"
                     alt="circle-image" />
                <h4 class="font-weight-normal mb-3">
                    Monthly Sales <i class="mdi mdi-chart-line mdi-24px float-right"></i>
                </h4>
                <h2 class="mb-5">$ <span id="banner1Data"></span></h2>

            </div>
        </div>
    </div>
    <div class="col-md-6 col-xl-4 stretch-card grid-margin">
        <div class="card bg-gradient-info card-img-holder text-white">
            <div class="card-body">
                <img src="https://res.cloudinary.com/senbonzakura/image/upload/v1573316035/images/dashboard/circle_vjz1ny.svg" class="card-img-absolute"
                     alt="circle-image" />
                <h4 class="font-weight-normal mb-3">
                    Weekly Orders <i class="mdi mdi-bookmark-outline mdi-24px float-right"></i>
                </h4>
                <h2 class="mb-5" id="banner2Data"></h2>

            </div>
        </div>
    </div>
    <div class="col-md-6 col-xl-4 stretch-card grid-margin mx-auto">
        <div class="card bg-gradient-success card-img-holder text-white">
            <div class="card-body">
                <img src="https://res.cloudinary.com/senbonzakura/image/upload/v1573316035/images/dashboard/circle_vjz1ny.svg" class="card-img-absolute"
                     alt="circle-image" />
                <h4 class="font-weight-normal mb-3">
                    Visitors Online <i class="mdi mdi-diamond mdi-24px float-right"></i>
                </h4>
                <h2 class="mb-5">$ <span id="banner3Data"></span></h2>

            </div>
        </div>
    </div>
</div>


@* <div class="row"> *@
@*     <div class="col-md-7 grid-margin stretch-card"> *@
@*         <div class="card"> *@
@*             <div class="card-body"> *@
@*                 <div class="clearfix"> *@
@*                     <h4 class="card-title float-left">Visit And Sales Statistics</h4> *@
@*                     <div id="visit-sale-chart-legend" class="rounded-legend legend-horizontal legend-top-right float-right"></div> *@
@*                 </div> *@
@*                 <canvas id="visit-sale-chart" class="mt-4"></canvas> *@
@*             </div> *@
@*         </div> *@
@*     </div> *@
@*     <div class="col-md-5 grid-margin stretch-card"> *@
@*         <div class="card"> *@
@*             <div class="card-body"> *@
@*                 <h4 class="card-title">Traffic Sources</h4> *@
@*                 <canvas id="traffic-chart"></canvas> *@
@*                 <div id="traffic-chart-legend" class="rounded-legend legend-vertical legend-bottom-left pt-4"></div> *@
@*             </div> *@
@*         </div> *@
@*     </div> *@
@* </div> *@
@* list donation *@
@Html.Action("DonationList", "Dashboard")

<div class="row">
    @* List Project *@
    @Html.Action("ProjectList", "Dashboard")
    <div class="col-md-5 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title text-white">Todo</h4>
                <div class="add-items d-lg-flex">
                    <input aria-label="" type="text" class="form-control todo-list-input"
                           placeholder="What do you need to do today?">
                    <button class="add btn btn-gradient-primary font-weight-bold todo-list-add-btn mt-2 mt-lg-0"
                            id="add-task">
                        Add
                    </button>
                </div>
                <div class="list-wrapper">
                    <ul class="d-flex flex-column-reverse todo-list todo-list-custom">
                        <li>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="checkbox" type="checkbox"> Meeting with Alisa
                                </label>
                            </div>
                            <i class="remove mdi mdi-close-circle-outline"></i>
                        </li>
                        <li class="completed">
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="checkbox" type="checkbox" checked> Call John
                                </label>
                            </div>
                            <i class="remove mdi mdi-close-circle-outline"></i>
                        </li>
                        <li>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="checkbox" type="checkbox"> Create invoice
                                </label>
                            </div>
                            <i class="remove mdi mdi-close-circle-outline"></i>
                        </li>
                        <li>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="checkbox" type="checkbox"> Print Statements
                                </label>
                            </div>
                            <i class="remove mdi mdi-close-circle-outline"></i>
                        </li>
                        <li class="completed">
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="checkbox" type="checkbox" checked> Prepare for
                                    presentation
                                </label>
                            </div>
                            <i class="remove mdi mdi-close-circle-outline"></i>
                        </li>
                        <li>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="checkbox" type="checkbox"> Pick up kids from school
                                </label>
                            </div>
                            <i class="remove mdi mdi-close-circle-outline"></i>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Recent Updates</h4>
                <div class="d-flex">
                    <div class="d-flex align-items-center mr-4 text-muted font-weight-light">
                        <i class="mdi mdi-account-outline icon-sm mr-2"></i>
                        <span>jack Menqu</span>
                    </div>
                    <div class="d-flex align-items-center text-muted font-weight-light">
                        <i class="mdi mdi-clock icon-sm mr-2"></i>
                        <span>October 3rd, 2018</span>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-6 pr-1">
                        <img src="https://res.cloudinary.com/senbonzakura/image/upload/v1573316035/images/dashboard/img_1_nm16dj.jpg" class="mb-2 mw-100 w-100 rounded"
                             alt="image">
                        <img src="https://res.cloudinary.com/senbonzakura/image/upload/v1573316036/images/dashboard/img_4_koxd5v.jpg" class="mw-100 w-100 rounded"
                             alt="image">
                    </div>
                    <div class="col-6 pl-1">
                        <img src="https://res.cloudinary.com/senbonzakura/image/upload/v1573316036/images/dashboard/img_2_iidfgv.jpg" class="mb-2 mw-100 w-100 rounded"
                             alt="image">
                        <img src="https://res.cloudinary.com/senbonzakura/image/upload/v1573316036/images/dashboard/img_3_c0frod.jpg" class="mw-100 w-100 rounded"
                             alt="image">
                    </div>
                </div>
                <div class="d-flex mt-5 align-items-top">
                    <img src="https://res.cloudinary.com/senbonzakura/image/upload/ar_1:1,c_fill,e_art:hokusai,g_auto,h_100,w_100/v1573316681/images/faces/avatar3_cij4dk.png" class="img-sm rounded-circle mr-3"
                         alt="image">
                    <div class="mb-0 flex-grow">
                        <h5 class="mr-2 mb-2">School Website - Authentication Module.</h5>
                        <p class="mb-0 font-weight-light">
                            It is a long established fact that a reader
                            will be distracted by the readable content of a page.
                        </p>
                    </div>
                    <div class="ml-auto">
                        <i class="mdi mdi-heart-outline text-muted"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script>
        $.ajax({
            url: '/Api/Banner1Data',
            success: function(res) {
                $('#banner1Data').html(res);
            }
        });
        $.ajax({
            url: '/Api/Banner2Data',
            success: function(res) {
                $('#banner2Data').html(res);
            }
        });
        $.ajax({
            url: '/Api/Banner3Data',
            success: function(res) {
                $('#banner3Data').html(res);
            }
        });
    </script>
}

