@model GiveAidCharity.Models.PaymentResultViewModel

@{
    ViewBag.Title = "PaymentResult";
}

<h2>PaymentResult</h2>

<div>
    <h4>PaymentResultViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

    </dl>
</div>

