@model GiveAidCharity.Models.ExternalLoginListViewModel
@using Microsoft.Owin.Security


@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    var authenticationDescriptions = loginProviders.ToList();
    var count = authenticationDescriptions.Count;
    if (count > 0)
    {
        <div class="txt1 text-center p-t-20 p-b-5">
            <span>
                Or Sign Up Using
            </span>
        </div>
        <div class="flex-c-m">
            @using (Html.BeginForm("ExternalLogin", "Account", new { Model.ReturnUrl }, FormMethod.Post, new { @class = "flex-c-m" }))
            {
                @Html.AntiForgeryToken()

                foreach (var p in authenticationDescriptions)
                {
                    <button type="submit" class="login100-social-item bg-@p.AuthenticationType" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType">
                        <i class="fa fa-@p.AuthenticationType.ToLower()"></i>
                    </button>
                }
            }
        </div>
    }
    else
    {
        <span></span>
    }
}